NEXT_PUBLIC_APP_NAME="Recruiter Finder"
NEXT_PUBLIC_ADMIN_EMAIL="aadarshgurug@gmail.com"
NEXT_PUBLIC_APP_DESCRIPTION="Discover top recruiters effortlessly with our Next.js 14 powered search application. Featuring a responsive UI built with Tailwind CSS and shadcn/ui, our TypeScript-based app offers advanced filtering and sorting capabilities for efficient talent acquisition. Find the perfect recruiter for your needs today!"
NEXT_PUBLIC_APP_KEYWORDS="recruiter search, Next.js 14, TypeScript, Tailwind CSS, shadcn/ui, talent acquisition, job search, recruitment tool, HR technology, app router"
NEXT_PUBLIC_APP_URL="http://localhost:3000"